[submodule "harpguru-core"]
	path = harpguru-core
	url = https://github.com/js-jslog/harpnative.git
[submodule "harpguru-expo-boilerplate"]
	path = harpguru-expo-boilerplate
	url = https://github.com/js-jslog/harpnative.git
[submodule "harpstrata"]
	path = harpstrata
	url = https://github.com/js-jslog/harpstrata.git
